<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="top-nav">
        <button class="tab-button" ><a class="nav-link" href="/">Create & Edit Solutions</a></button>
        <button class="tab-button"><a class="nav-link nav-link-current" href="/graph">Generate Graph</a></button>
        <div class="logo-area">
            <img src="../static/Icons/logo_text_large_dark.svg" alt="AFL Icon">
        </div>
    </div>

    <div id="screen-container">
        <div class="sidebar">
            <div id="sidebar-solution-creator-buttons">
                <p>buttons here</p>
            </div>

            <div id="sidebar-solution-list">
                <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>
            
            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            </div>
            
        </div>

        <div id="graph-page" class="tab-content">
            <div id="graph-page-left">
                <div id="graph-output-box">graph box</div>

                <div id="graph-lower-left">
                    <div id="code-output-box">
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                        <p>c</p>
                    </div>

                    <div id="graph-control-btns">
                        <button id="gen-graph-btn">Generate Graph</button>
                        <button id="download-graph-btn"><img height="20px" src="../static/Icons/download-arrow.png">Download Graph</button>
                    </div>

                </div>
                

            </div>
            <div id="graph-page-right">
                    <div id="dimesion-options">
                        <button id="2d-btn" class="dimension-btn dimension-btn-active">2D</button>
                        <button id="3d-btn" class="dimension-btn dimension-btn-not-active">3D</button>
                    </div>
                <div id="dimensions">
                    <!-- <div id="2d-settings"> -->
                        <select id="x-axis-dropdown" class="axis-dropdown">
                            <option value="">--Select X-Axis Component--</option>
                            <option value="test1">Test1</option>
                            <option value="test1">Test1</option>
                            <option value="test1">Test1</option>
                        </select>
                        <select id="y-axis-dropdown" class="axis-dropdown">
                            <option value="">--Select Y-Axis Component--</option>
                            <option value="test1">Test1</option>
                            <option value="test1">Test1</option>
                            <option value="test1">Test1</option>
                        </select>
                    <!-- </div> -->
                    <div id="3d-settings" class="dimension-setting-not-active">
                        <select id="z-axis-dropdown" class="axis-dropdown">
                            <option value="">--Select Z-Axis Component--</option>
                            <option value="test1">Test1</option>
                            <option value="test1">Test1</option>
                            <option value="test1">Test1</option>
                        </select>
                    </div>
                </div>


                <div id="target-vs-sweep">
                    <div id="mode-options">
                        <button id="target-btn" class="dimension-btn dimension-btn-active">Target</button>
                        <button id="sweep-btn" class="dimension-btn dimension-btn-not-active">Sweep</button>
                    </div>

                    <div id="target-settings" class="dimension-setting-active">
                        <div id="target-blocks-all">
                            <div class="target-setting-block">
                                <p id="X-target-block-component" class="target-component-title">Match X-Axis Dropdown</p>
                                <div class="target-block-row">
                                <div class="target-block-min">
                                    <p class="target-label">Min</p>
                                    <input class="target-input" type="text">

                                </div>

                                <div class="target-block-max">
                                    <p class="target-label">Max</p>
                                    <input class="target-input" type="text">
                                </div>

                                <div class="target-block-step">
                                    <p class="target-label">Step</p>
                                    <input class="target-input" type="text">
                                </div>
                                </div>
                            </div>

                            <div class="target-setting-block">
                                <p id="Y-target-block-component" class="target-component-title">Match Y-Axis Dropdown</p>
                                <div class="target-block-row">
                                <div class="target-block-min">
                                    <p class="target-label">Min</p>
                                    <input class="target-input" type="text">

                                </div>

                                <div class="target-block-max">
                                    <p class="target-label">Max</p>
                                    <input class="target-input" type="text">
                                </div>

                                <div class="target-block-step">
                                    <p class="target-label">Step</p>
                                    <input class="target-input" type="text">
                                </div>
                                </div>
                            </div>

                            <div class="target-setting-block dimension-setting-not-active" id="z-setting-block">
                                <p id="Z-target-block-component" class="target-component-title">Match Z-Axis Dropdown</p>
                                <div class="target-block-row">
                                <div class="target-block-min">
                                    <p class="target-label">Min</p>
                                    <input class="target-input" type="text">

                                </div>

                                <div class="target-block-max">
                                    <p class="target-label">Max</p>
                                    <input class="target-input" type="text">
                                </div>

                                <div class="target-block-step">
                                    <p class="target-label">Step</p>
                                    <input class="target-input" type="text">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>








                    <div id="sweep-settings" class="dimension-setting-not-active">
                        <p>Sweep Density</p>
                        <input type="text">
                    </div>
                </div>
                
                


            </div>
        </div>
    </div>
    <script src="../static/graph-script.js"></script>
</body>

</html>