<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="top-nav">
        <button class="tab-button" ><a class="nav-link" href="/">Create & Edit Solutions</a></button>
        <button class="tab-button"><a class="nav-link nav-link-current" href="/graph">Generate Graph</a></button>
        <div class="logo-area">
            <img src="../static/Icons/logo_text_large_dark.svg" alt="AFL Icon">
        </div>
    </div>

    <div id="screen-container">
        <div class="sidebar">
            <div id="sidebar-solution-creator-buttons">
                <p>buttons here</p>
            </div>

            <div id="sidebar-solution-list">
                <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>
            
            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            </div>
            
        </div>

        <div id="Tab2" class="tab-content">
            <h2>Generate Graph</h2>
            <p>Placeholder for graph generation this is the second page and I am being loaded.</p>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>

</html>