<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="top-nav">
        <button class="tab-button" ><a class="nav-link nav-link-current" href="/">Create & Edit Solutions</a></button>
        <button class="tab-button"><a class="nav-link" href="/graph">Generate Graph</a></button>
        <div class="logo-area">
            <img src="../static/Icons/logo_text_large_dark.svg" alt="AFL Icon">
        </div>
    </div>

    <div id="screen-container">
        <div class="sidebar">
            <div id="sidebar-solution-creator-buttons">
                <p>buttons here</p>
            </div>

            <div id="sidebar-solution-list">
                <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>
            
            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            <div class="template-existing-stcock-creationpage">
                <p class="sidebar-solution-name"><strong>Solution Name:</strong> [place holder]</p>
                <p class="sidebar-tag">Tag Example</p>
            
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
                <p class="sidebar-component-info"><span class="sidebar-component-NAME">[Component Name]:</span> <span class="sidebar-component-AMNT">xx.xx</span> <span class="sidebar-component-UNIT">unit</span></p>
            </div>

            </div>
            
        </div>

        <div id="Tab1" class="tab-content" >
            <h2>Create & Edit Solutions</h2>

            <div class="input-group">
                <label class="input-label">Solution Name</label>
                <input type="text" class="styled-input" placeholder="Enter solution name">
            </div>

            <div class="content-block">
                <label class="input-label">Component 1</label>
                <input type="text" id="component-1" class="styled-input" placeholder="Enter Component...">
                <!-- add space -->
                <div style="margin-bottom: 10px;">
                </div>
                <div style="display: flex;">
                    <div class="col">
                        <label class="input-label">Amount</label>
                        <input type="text" id="amount-1" class="styled-input" placeholder="Enter Amount...">
                    </div>
                    <div class="col">
                        <label class="input-label">Unit</label>
                        <input type="text" id="unit-1" class="styled-input" placeholder="Enter Unit...">
                    </div>
                </div>
            </div>
            <button class="add-row-button" onclick="addComponent()"> + Add Component</button>
            <button class="save-solution-button" onclick="saveSolution()"> Save Solution</button>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>

</html>