<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="header">
        <button class="tab-button" onclick="openTab(event, 'Tab1')" id="defaultOpen">Create & Edit Solutions</button>
        <button class="tab-button" onclick="openTab(event, 'Tab2')">Generate Graph</button>
        <div class="logo-area">
            <img src="../static/Icons/logo_text_large_dark.svg" alt="AFL Icon">
        </div>
    </div>

    <div class="sidebar">
        <div class="input-group">
            <label class="input-label">Solution Name</label>
            <input type="text" class="styled-input" placeholder="Enter solution name">
        </div>
        <div class="input-group">
            <label class="input-label">Solution Name</label>
            <input type="text" class="styled-input" placeholder="Enter solution name">
        </div>
        <div class="input-group">
            <label class="input-label">Solution Name</label>
            <input type="text" class="styled-input" placeholder="Enter solution name">
        </div>
        <div class="input-group">
            <label class="input-label">Solution Name</label>
            <input type="text" class="styled-input" placeholder="Enter solution name">
        </div>
    </div>

    <div id="Tab1" class="tab-content" style="margin-left: 200px;">
        <h2>Create & Edit Solutions</h2>

        <button onclick="testAFL()">Test AFL Connection</button>

        <div class="input-group">
            <label class="input-label">Solution Name</label>
            <input type="text" class="styled-input" placeholder="Enter solution name">
        </div>

        <div class="input-group">
            <label class="input-label">Deck Location</label>
            <input type="text" class="styled-input" placeholder="e.g., A1" style="width: 25%;">
        </div>

        <div class="content-block">
            <label class="input-label">Component 1</label>
            <input type="text" id="component-1" class="styled-input" placeholder="Enter Component...">
            <!-- add space -->
            <div style="margin-bottom: 10px;">
            </div>
            <div style="display: flex;">
                <div class="col">
                    <label class="input-label">Amount</label>
                    <input type="text" id="amount-1" class="styled-input" placeholder="Enter Amount...">
                </div>
                <div class="col">
                    <label class="input-label">Unit</label>
                    <input type="text" id="unit-1" class="styled-input" placeholder="Enter Unit...">
                </div>
            </div>
        </div>
        <button class="add-row-button" onclick="addComponent()"> + Add Component</button>
        <button class="save-solution-button" onclick="saveSolution()"> Save Solution</button>
    </div>

    <div id="Tab2" class="tab-content">
        <h2>Generate Graph</h2>
        <p>Placeholder for graph generation interface.</p>
    </div>

    <script src="../static/script.js"></script>
</body>

</html>