body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

#screen-container{
    display: flex;
    flex-direction: row;
}

.template-existing-stcock-creationpage{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: white 2px solid;
}

.template-existing-stcock-creationpage:hover{
   border: #b1b1b1 2px solid;
}

.sidebar {
    background-color: #f1f1f1;
    max-height: calc(100vh - 180px) ;
}

#sidebar-solution-list{
    padding: 20px;
    width: 22vw;
    overflow: scroll;
    gap: 10px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 180px) ;
    overflow-x: hidden;
}

#sidebar-solution-creator-buttons{
    background-color: #333;
    margin: 0px;
    padding: 5px;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-link-current{
    text-decoration: underline;
}

.sidebar-tag{
    
    background-color: red;
    color: white;
    border-radius: 25px;
    width: fit-content;
    padding: 5px;
    font-size: 12px;
    margin-top: 2px;
}

.sidebar-solution-name{
    margin-bottom: 2px;
    margin-top: 5px;
}

#top-nav {
    background-color: #000000;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: white;
    height: 48px
}

#top-nav h1 {
    margin: 0;
    margin-right: 40px;
    font-size: 1.2rem;
    font-weight: bold;
}

.tab-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}

.tab-button:hover {
    color: white;
}

.tab-button.active {
    color: white;
    border-bottom: 2px solid white;
}

.tab-content {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    width: 100%;
    height: calc(100vh - 120px);
    padding: 20px;
    overflow: auto;

}

.logo-area {
    margin-left: auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo-area img {
    height: 48px;
    margin-right: 10px;
}

/* Input Styles */
.input-group {
    margin-bottom: 20px;
}

.input-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
    font-size: 0.9rem;
}

.styled-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #f9f9f9;
}

.styled-input:focus {
    outline: none;
    border-color: #333;
    background-color: white;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

/* Content Blocks*/
.content-block {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #c9c9c9;
    padding: 10px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    gap: 30px;
    width: 100%;
}

.col {
    flex: 1;
}

/* Add a button to add a new row */
.add-row-button {
    display: block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: dashed;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
}

.add-row-button:hover {
    background-color: #b3b3b3;
}

/* Save Solution button */
.save-solution-button {
    display: block;
    background-color: #8d7a11;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15%;
    margin-left: auto;
    margin-right: 0;
}

.save-solution-button:hover {
    background-color: #5c500b;
}

#graph-page{
    display: flex;
    flex-direction: row;
}

#graph-page-left{
    /* background-color: red; */
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#graph-page-right{
    /* background-color: blue; */
    width: 35%;
}

#graph-output-box{
    background-color: white;
    border-radius: 20px;
    border: solid black 2px;
    width: 90%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graph-lower-left{
    height: 20%;
    width: 90%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#code-output-box{
    background-color: white;
    /* border-radius: 20px; */
    border: solid black 2px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 70%;
}

#graph-control-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#download-graph-btn{
    color: white;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    font-weight: 650;
}

#gen-graph-btn{
    color: white;
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    font-weight: 650;
}

.dimension-btn{
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    font-weight: 650;
}

.dimension-btn-active {
  background-color: #4a90e2;
  color: white;
}

.dimension-btn-not-active {
  background-color: gray;
  color: white;
}

.dimension-setting-active {
  visibility: visible;
}

.dimension-setting-not-active {
  display: none;
}

#graph-page-right{
    display: flex;
    flex-direction: column;
}

#dimensions{
    min-height:25%;
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-top: 10px;
}

#target-vs-sweep{
    min-height:50%
}

.target-setting-block{
    border: black, solid, 2px;
    padding: 10px;
    
    border-radius: 15px;
}

.target-input{
    width:85%;
}

.target-label{
    margin-bottom: 5px;
    margin-top: 5px;
}

#target-blocks-all{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#mode-options{
    margin-bottom: 15px;
}

.target-block-row{
    display: flex;
    flex-direction: row;
}

.target-component-title{
    margin-top: 5px;
    font-weight: 600;
}

.axis-dropdown{
    width: 100%;
}